
<h1>Режим розробника</h1>


<select onchange="update_settings()" id="select_settings" class="drop_down">
    <option value="">Обери налаштування</option>
    <option value="Чорний список користувачів">Чорний список користувачів</option>
    <option value="Відправити повідомлення всім користувачам бота">Відправити повідомлення всім користувачам бота</option>
    <option value="Пристрої для QR">Пристрої для QR</option>
    <option value="Користувачі">Користувачі</option>
    <option value="API">API</option>
   
</select>

<div id="result"></div>


